* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 58.75px);
  height: 70px;
  background-color: #080B12;
  opacity: 0.9;
}

header button {
  font-weight: 600;
  margin-right: 15px;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 22px;
  background-color: #080B12;
  border: 1px solid #fff;
  border-radius: 15px;
}

/* header */
.flex-container {
  display: flex;
}

/* aside (top, central, bottom)*/
/* aside top */
aside {
  width: 58.75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 0 10px;
  padding-bottom: 10px;
  color: #646464;
  background-color: #000000;
  height: calc(100vh - 70px);
}

.aside-logo {
  font-weight: 600;
  color: #fff;
  font-size: 40px;
  line-height: 70px;
}

.aside-logo span {
  font-size: 24px;
}

aside ul {
  padding-bottom: 5px;
  list-style: none;
}

aside ul li {
  font-size: 30px;
  line-height: 50px;
}

.aside-side-of-top ul li i.fas {
  text-align: center;
  width: 100%;
}

aside span {
  font-size: 16px;
  display: none;
}

/* aside playlist section */
aside h3 {
  display: none;
  text-transform: uppercase;
  color: white;
  font-size: 17px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.div-crea-playlist {
  display: none;
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
}

aside .plus-square {
  display: none;
  height: 100%;
  font-size: 35px;
  font-weight: bold;
  display: inline-block;
  background-color: #a3a3a3;
  padding: 0px 9px;
  margin-right: 5px;
}

aside .div-crea-playlist .plus-square span {
  color: #000;
  font-size: 34px;
}

aside .span-crea-playlist {
  font-weight: 600;
  font-size: 18px;
}

/* aside central section */
.aside-central-content {
  width: 100%;
  display: none;
  overflow-y: auto;
}

.aside-central-content ul li a {
  font-size: 15px;
  text-decoration: none;
  color: #646464;
}

/* aside central section */
/* aside bottom section */
.aside-bottom .div-installa-app {
  font-size: 30px;
  line-height: 50px;
  padding: 5px 0;
  border-bottom: 1px solid #646464;
}

.aside-bottom .div-profile-name {
  line-height: 35px;
  font-size: 30px;
}

.div-profile-name span {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

/* aside bottom section */
/*finish entire aside bar */
/* main */
main {
  padding-top: 70px;
  overflow-y: auto;
  background-color: #141922;
  width: 100%;
  height: calc(100vh - 70px);
}

main .prova {
  background-color: blue;
  margin: 20px;
  width: 200px;
  height: 300px;
}

/* main */
/* footer */
footer {
  display: flex;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: #282828;
  height: 70px;
  width: 100vw;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
}

footer section.left {
  flex: 0 1 235px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer section.left .img-and-title {
  display: flex;
  align-items: center;
}

footer section.left .sinister-img {
  background-image: url('https://media2.fdncms.com/memphisflyer/imager/sinister-thoughts-my-analysis-on-the-horror-film-sinister/u/original/3284729/1351028493-sinister.jpg');
  background-size: cover;
  background-position: bottom;
  width: 70px;
  height: 50px;
  overflow: hidden;
}

footer section.left img {
  width: 100px;
}

footer section.left .title-left {
  padding-left: 10px;
  color: #626262;
}

footer section.left .title-left h4 {
  color: #fff;
}

footer section.left .heart-folder-icon {
  display: flex;
  flex-direction: column;
  color: #696969;
  font-size: 23px;
}

/* section footer center */
footer section.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33%;
}

footer section.center .media-player-controls {
  align-items: center;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 17px;
}

.fa-play-circle {
  font-size: 27px;
}

.fa-redo-alt {
  font-size: 15px;
}

footer section.center .range-time-level {
  display: flex;
  justify-content: space-around;
}

footer section.center .range-time-level {
  color: #fff;
  font-size: 12px;
}

footer section.center div.range-time {
  width: 80%;
}

footer section.center div.range-time input {
  width: 100%;
}

footer section.center .range-time-level span {
  font-size: 10px;
}


/* section footer right */
footer section.right {
  align-items: center;
  flex: 0 1 235px;
  width: 33%;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

/* footer */
/* display none xs */
aside span {
  display: none;
  font-family: 'Roboto', sans-serif;
}

.div-xs-none {
  display: none;
}

.aside-bottom .div-installa-app {
  border-bottom: none;
}

/* display none xs */
/* meddia query: sm >= 768px */
@media all and (min-width: 768px) {
  .aside-bottom .div-profile-name {
    padding-top: 5px;
    font-size: 17px;
  }

  .aside-side-of-top ul li i.fas {
    text-align: initial;
    width: initial;
  }

  aside i {
    padding-right: 10px;
  }

  .aside-central-content {
    display: inline-block;
  }

  .aside-central-content ul li {
    font-size: 20px;
    line-height: 32px;
  }

  .div-crea-playlist {
    display: flex;
  }

  aside h3 {
    display: block;
  }

  aside ul li {
    font-size: 20px;
    line-height: 30px;
  }

  main {
    width: calc(100vw - 175px);
  }

  header {
    width: calc(100vw - 175px);
  }

  aside {
    padding-right: 0;
    width: 175px;
    align-items: flex-start;
  }

  .aside-logo {
    font-size: 30px;
    line-height: 68px;
  }

  aside span {
    display: inline-block;
  }

  .aside-bottom .div-installa-app {
    padding-top: 10px;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    line-height: 35px;
  }
}

/*  finish meddia query: sm >= 768px */
/* utility */
.text-center {
  text-align: center;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* #FBFBFB */
/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #302626;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgrey;
}

/* scrollbar */
